.TopTitle {
    text-align: center;
    border-radius: 230px;
    background-color:rgb(112, 87, 53);
    padding: 5px;
}
body {
    background-color: burlywood;
}
h3 {
    background-color: rgb(196, 158, 109);
    max-width: fit-content;
    padding: 10px;
    border-radius: 40px;
}
a {
    color: brown;
}
a:hover {
    color: rgba(112, 87, 53);
}
table {
    background: burlywood;
    border-color: brown;
}